<section class="section content">

        {{ if eq .Success "true" }}
        <article class="message is-primary">
        <div class="message-body">
          Saved successfully.
        </div>
        </article>
        {{ end }}

        {{ if eq .Missing "true" }}
        <article class="message is-warning">
        <div class="message-body">
          Required fields can't be empty.
        </div>
        </article>
        {{ end }}


        {{ if eq .Failed "true" }}
        <article class="message is-danger">
        <div class="message-body">
        Failed to save instance settings.
	</div>
        </article>
        {{ end }}

<h1 class="title is-spaced">Instance</h1>
<div class="block">
<p class="my-1"><b>Version:</b> {{ .InstanceInfo.Details.Version }}</p>
<p class="my-1"><b>Default commission:</b> {{ .InstanceInfo.Details.DefaultCommissionFloat }} XMR</p>
<p class="my-1"><b>Custodial mode:</b> {{ .InstanceInfo.Details.CustodialMode }}</p>
<p class="my-1"><b>Registrations allowed:</b> {{ .InstanceInfo.Details.RegistrationsAllowed }}</p>
<p class="my-1"><b>Withdrawal period:</b> {{ .InstanceInfo.Details.WithdrawalTimes }}</p>
</div>

<div class="block">
<p class="my-1"><b>Wallet balance:</b> {{ .InstanceInfo.Stats.WalletBalanceFloat }} XMR</p>
<p class="my-1"><b>Total profits:</b> {{ .InstanceInfo.Stats.TotalProfitsFloat }} XMR</p>
<p class="my-1"><b>Total merchants:</b> {{ .InstanceInfo.Stats.TotalMerchants }}</p>
</div>

<h2 class="title is-spaced">Settings</h2>

<form action="/admin/instance" method="POST">
<div class="field is-horizontal">
  <div class="field-label">
    <label class="label">Custodial mode</label>
  </div>
  <div class="field-body">
    <div class="field is-narrow">
      <div class="control">
        <label class="radio">
          <input type="radio" name="custodial_mode" value="true">
          On
        </label>
        <label class="radio">
          <input type="radio" name="custodial_mode" value="false">
          Off
        </label>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Default commission rate</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <input class="input" type="text" placeholder="0.005" name="default_commission">
      </div>
      <p class="help">
        Amount in float XMR
      </p>
    </div>
  </div>
</div>


<div class="field is-horizontal">
  <div class="field-label">
    <label class="label">Registrations open</label>
  </div>
  <div class="field-body">
    <div class="field is-narrow">
      <div class="control">
        <label class="radio">
          <input type="radio" name="registrations_allowed" value="true">
          Yes
        </label>
        <label class="radio">
          <input type="radio" name="registrations_allowed" value="false">
          No
        </label>
      </div>
    </div>
  </div>
</div>


<div class="field is-horizontal">
  <div class="field-label">
    <label class="label">Withdrawal period</label>
  </div>
  <div class="field-body">
    <div class="field is-narrow">
      <div class="control">
<div class="select">
  <select name="withdrawal_times">
    <option value="instant">Instant</option>
    <option value="daily">Daily</option>
    <option value="weekly">Weekly</option>
    <option value="manual">Manual</option>
  </select>
</div>
    </div>
  </div>
</div>

<button class="button is-primary is-pulled-right">Save</button>
</form>
</section>
