<section class="hero">
  <div class="hero-body">
    <p class="title">
      Wallet balance: {{ .Balance }} XMR
    </p>
    <p class="subtitle">
      Total sales: {{ .Profits }} XMR
    </p>
    <div class="buttons">
      <a class="button is-primary" href="/admin/instance">Manage instance</a>
      <a class="button is-primary is-pulled-right" href="https://moneropay.eu">Docs</a>
    </div>
  </div>
</section>


<section class="section">
<p class="title is-spaced">Recent payments</p>
{{ if not .Payments }}
<p class="subtitle">Nothing yet.</p>
{{ else }}
<div class="table-container">
<table class="table is-bordered is-striped is-hoverable is-fullwidth is-narrow">
  <thead>
    <tr>
      <th>Merchant</th>
      <th>Invoice ID</th>
      <th>Amount</th>
      <th>Fee</th>
      <th>Status</th>
      <th><abbr title="Date of completion or last update.">Date</abbr></th>
    </tr>
  </thead>
  <tbody>
  {{ range .Payments }}
    <tr>
      <td>{{ .MerchantName }}</td>
      <td>{{ .InvoiceId }}</td>
      <td>{{ .AmountFloat }} XMR</td>
      <td>{{ .FeeFloat }} XMR</td>
      <td>{{ .Status }}</td>
      <td>{{ .LastUpdate }}</td>
    </tr>
  {{ end }}
  </tbody>
</table>
</div>
{{ end }}

<a class="button is-primary is-pulled-right" href="/admin/payments">Go to payment history</a>
</section>
