<section class="section">
<h1 class="title is-spaced">{{ .Merchant.Name }}</h1>

<div class="block">
<p class="my-1"><b>Commission:</b> {{ .CommissionRate }} XMR</p>
<p class="my-1"><b>Disabled:</b> {{ .Merchant.Disabled }}</p>
</div>

<h2 class="title is-spaced">Settings</h2>

<div class="field has-addons">
  <p class="control">
    <input class="input" type="text" placeholder="Amount of money">
  </p>
  <p class="control">
    <a class="button is-primary">
      Set commission
    </a>
  </p>
</div>

  <p class="control">
    <a class="button is-warning">
      Disable account
     </a>
    </p>
</form>

<form>
  <p class="control mt-3">
    <a class="button is-danger">
      Delete account
     </a>
    </p>
<form>
</div>
</section>
