<section class="section">
<p class="title is-spaced">Payments</p>
{{ if not .Payments }}
<p class="subtitle">Nothing yet.</p>
{{ else }}
<div class="table-container">
<table class="table is-bordered is-striped is-hoverable is-fullwidth is-narrow">
  <thead>
    <tr>
      <th>Merchant</th>
      <th>Invoice ID</th>
      <th>Amount</th>
      <th>Fee</th>
      <th>Status</th>
      <th><abbr title="Date of completion or last update.">Date</abbr></th>
    </tr>
  </thead>
  <tbody>
  {{ range .Payments }}
    <tr>
      <td>{{ .MerchantName }}</td>
      <td>{{ .InvoiceId }}</td>
      <td>{{ .AmountFloat }} XMR</td>
      <td>{{ .FeeFloat }} XMR</td>
      <td>{{ .Status }}</td>
      <td>{{ .LastUpdate }}</td>
    </tr>
  {{ end }}
  </tbody>
</table>
</div>
{{ end }}

{{ if .Paging }}
<div class="field is-grouped is-grouped-centered">
  <p class="control">
    <a class="button is-primary">
      Prev
    </a>
  </p>
  <p class="control">
    <a class="button is-primary">
      Next
    </a>
  </p>
</div>
{{ end }}
</section>
