<section class="section">
<p class="title is-spaced">Merchants</p>

<p class="subtitle">Select a merchant to configure.<p>

<div class="columns is-multiline is-mobile">
{{ range .Merchants }}
  <div class="column is-narrow">
    <a class="button is-info" href="/admin/merchants/{{ .AccountId }}">
    {{ .Name }}
    </a>
  </div>
{{ end }}
</div>

{{ if .Paging }}
<div class="field is-grouped is-grouped-centered">
  <p class="control">
    <a class="button is-primary">
      Prev
    </a>
  </p>
  <p class="control">
    <a class="button is-primary">
      Next
    </a>
  </p>
</div>
{{ end }}

</section>
