<section class="section">

        {{ if eq .Success "true" }}
        <article class="message is-primary">
        <div class="message-body">
          Saved successfully.
        </div>
        </article>
        {{ end }}

<h1 class="title is-spaced">{{ .Merchant.Name }}</h1>

<div class="block">
<p class="my-1"><b>Commission:</b> {{ .CommissionRate }} XMR</p>
<p class="my-1"><b>Disabled:</b> {{ .Merchant.Disabled }}</p>
</div>

<h2 class="title is-spaced">Settings</h2>

<form action="/admin/merchants/{{ .Merchant.AccountId }}" method="POST">
<div class="mb-3 field has-addons">
  <p class="control">
    <input class="input" type="text" placeholder="Amount of money" name="commission">
  </p>
  <p class="control">
    <button class="button is-primary">
      Set commission
    </button>
  </p>
</div>
</form>

<form action="/admin/merchants/{{ .Merchant.AccountId }}" method="POST">
  <p class="control">
    <button class="button is-warning" name="disable" value="true">
      Disable account
     </button>
    </p>
 </form>

<form action="/admin/merchants/{{ .Merchant.AccountId }}" method="POST">
<p class="control">
    <button class="mt-3 button is-primary" name="disable" value="false">
      Enable account
     </button>
    </p>
</form>

<form action="/admin/merchants/delete/{{ .Merchant.AccountId }}" method="POST">
  <p class="control mt-3">
    <button class="button is-danger">
      Delete account
     </button>
    </p>
<form>
</div>
</section>
