<section class="section content">
<h1 class="title is-spaced">Instance</h1>
<div class="block">
<p class="my-1"><b>Version:</b> {{ .Version }}</p>
<p class="my-1"><b>Default commission:</b> {{ .DefaultCommission }}</p>
<p class="my-1"><b>Custodial mode:</b> {{ .CustodialMode }}</p>
<p class="my-1"><b>Registrations allowed:</b> {{ .RegistrationsAlowed }}</p>
<p class="my-1"><b>Withdrawal period:</b> {{ .WithdrawalTimes }}</p>
</div>

<div class="block">
<p class="my-1"><b>Wallet balance:</b> {{ .WalletBalance }} XMR</p>
<p class="my-1"><b>Total profits:</b> {{ .TotalProfits }}</p>
<p class="my-1"><b>Total merchants:</b> {{ .TotalMerchants }}</p>
</div>

<h2 class="title is-spaced">Settings</h2>

<div class="field is-horizontal">
  <div class="field-label">
    <label class="label">Custodial mode</label>
  </div>
  <div class="field-body">
    <div class="field is-narrow">
      <div class="control">
        <label class="radio">
          <input type="radio" name="member">
          On
        </label>
        <label class="radio">
          <input type="radio" name="member">
          Off
        </label>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Default commission rate</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <input class="input" type="text" placeholder="0.1">
      </div>
      <p class="help">
        Amount in float XMR
      </p>
    </div>
  </div>
</div>


<div class="field is-horizontal">
  <div class="field-label">
    <label class="label">Registrations open</label>
  </div>
  <div class="field-body">
    <div class="field is-narrow">
      <div class="control">
        <label class="radio">
          <input type="radio" name="member">
          Yes
        </label>
        <label class="radio">
          <input type="radio" name="member">
          No
        </label>
      </div>
    </div>
  </div>
</div>


<div class="field is-horizontal">
  <div class="field-label">
    <label class="label">Withdrawal period</label>
  </div>
  <div class="field-body">
    <div class="field is-narrow">
      <div class="control">
<div class="select">
  <select>
    <option>Instant</option>
    <option>Daily</option>
    <option>Weekly</option>
    <option>Manual</option>
  </select>
</div>
    </div>
  </div>
</div>

<button class="button is-primary is-pulled-right">Save</button>
</section>
