<section class="hero">
  <div class="hero-body">
    <p class="title">
      Your balance: {{ .Merchant.Stats.BalanceFloat }} XMR
    </p>
    <p class="subtitle">
      Total sales: {{ .Merchant.Stats.TotalSalesFloat }} XMR
    </p>
    <div class="buttons">
      <a class="button is-primary" href="/merchant/request">Request payment</a>
      <a class="button is-primary is-pulled-right" href="https://moneropay.eu">Docs</a>
    </div>
  </div>
</section>

<section class="section">
<p class="title is-spaced">Recent payments</p>
{{ if not .Merchant.RecentPayments }}
<p class="subtitle">Nothing yet.</p>
{{ else }}
<div class="table-container">
<table class="table is-bordered is-striped is-hoverable is-fullwidth is-narrow">
  <thead>
    <tr>
      <th>Invoice ID</th>
      <th>Amount</th>
      <th>Status</th>
      <th><abbr title="Date of completion or last update.">Date</abbr></th>
    </tr>
  </thead>
  <tbody>
  {{ range .Merchant.RecentPayments }}
    <tr>
      <td>{{ .InvoiceId }}</td>
      <td>{{ .AmountFloat }} XMR</td>
      <td>{{ .Status }}</td>
      <td>{{ .LastUpdate }}</td>
    </tr>
  {{ end }}
  </tbody>
</table>
</div>

<button class="button is-primary is-pulled-right">Go to payment history</button>
{{ end }}
</section>
