<section class="section">
<p class="title is-spaced">Withdrawals</p>
{{ if not .Withdrawals }}
<p class="subtitle">Nothing yet.</p>
{{ else }}
<div class="table-container">
<table class="table is-bordered is-striped is-hoverable is-fullwidth is-narrow">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
  {{ range .Withdrawals }}
    <tr>
      <td>{{ .AmountFloat }} XMR</td>
      <td>{{ .Date }}</td>
    </tr>
  {{ end }}
  </tbody>
</table>
</div>
{{ end }}

{{ if .Paging }}
<div class="field is-grouped is-grouped-centered">
  <p class="control">
    <a class="button is-primary">
      Prev
    </a>
  </p>
  <p class="control">
    <a class="button is-primary">
      Next
    </a>
  </p>
</div>
{{ end }}
</section>
